@use "../../../../globalStyles/global_styles.scss";

.sermon-root {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  background-color: black;
  background-image: url("../../../../assets/sermon.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position-y: 20%;

  .sermon-container {
    flex: 1;

    margin-top: 2em;
    margin-bottom: 2em;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content-box {
      width: 90%;
      min-height: 25em;
      padding: 2em;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      background-color: global_styles.$secondary-color-transparent;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      color: white;

      p {
        font-size: 1.5em;
      }

      h1 {
        font-size: 2.5em;
        margin-bottom: 0;
      }

      a {
        margin: 0 0 1.5em 0;
        color: white;
        font-size: 2em;
      }

      .loading-spinner {
        margin-top: 1em;

        p {
          font-size: 1.5em;
          margin: 0;
        }
      }

      .video-container {
        margin-top: 2em;
        width: 100%;
        aspect-ratio: 16 / 9;

        .iframe-video {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  footer {
    margin-top: auto;
  }

  @media (max-width: 1050px) {
    .iframe-doc {
      display: none !important;
    }
  }

  @media (max-width: 800px) {
    .video-container {
      margin-top: 0;
    }

    .sermon-container {
      .content-box {
        a {
          margin-bottom: 0;
        }
      }
    }
  }
}
