@use "../../../../globalStyles/global_styles.scss";

.whoWe-root {
  //background section
  background-color: black;
  background-image: url("../../../../assets/gathering_of_angels.jpg");
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;

  background-position: center;

  .whoWe-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;

    .content-box {
      width: 70%;
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      background-color: global_styles.$secondary-color-transparent;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      color: white;
      font-size: 1.5em;

      h1 {
        margin: 0.5em 0 0.5em 0;
        font-size: 2.5em;
      }

      p {
        text-align: left;
        margin: 0.5em 0;
      }

      img {
        width: 90%;
      }

      .link {
        color: white;
        margin: 0 0 0.5em 0;
      }

      .list-box {
        padding: 0.2em 0.5em;
        width: 100%;
        border: #fff 1px solid;

        margin: 1em 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        ul {
          list-style-type: none;
          padding: 0;
        }

        // .video-container {
        //   position: relative;
        //   padding-bottom: 56.25%; /* 16:9 aspect ratio */
        //   height: 0;
        //   overflow: hidden;
        //   margin-top: 0.5em;
        // }

        // .video-container iframe,
        // .video-container video {
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        // }
        .video-container {
          margin-top: 0.5em;
          width: 100%;
          aspect-ratio: 16 / 9;
        }

        .video-container iframe {
          width: 100%;
          height: 100%;
          border: 0;
        }
      }
    }
  }

  @media (max-width: 600px) {
    .whoWe-container {
      .content-box {
        padding: 0.5em;
        width: 90%;
        .list-box {
          img {
            width: 100%;
          }
          h1 {
            font-size: 2em;
          }
        }
      }
    }
  }
}
