@import "../../../globalStyles/global_styles.scss";

.contact-root {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  //background section
  background-color: black;
  background-image: url("../../../assets/pentecost.jpg");
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center + 10%;

  .contact-container {
    display: flex;
    flex-direction: row;
  }

  .contact-box {
    width: 40%;
    padding: 2em;
    margin: 2em 2em 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: $secondary-color-transparent;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: white;

    h1 {
      margin: 0 0 1em 0;
      font-size: 2em;
    }

    .contact-form {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: center;

      width: 100%;
      padding: 0;

      input,
      textarea {
        width: 100%;
        padding: 0.5em;
        margin: 1em 0;
      }
    }

    h2 {
      text-align: center;
      color: $primary-color;
    }

    button {
      background-color: #fff;
      color: black;
    }
  }

  .contact-info-box {
    height: 10%;
    padding: 2em;
    margin: 2em auto 2em 2em;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color-transparent;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    color: white;

    .contact-card {
      padding: 0.7em;
      border: solid #fff 1px;
    }
    .name-box {
      h3 {
        margin: 0;
      }
    }
  }

  // @media (min-width: 900px) and (min-height: 900px) {
  //   footer {
  //     position: fixed !important;
  //   }
  // }

  @media (max-width: 800px) {
    background-position-x: 5%;
    .contact-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2em;
    }

    .contact-box {
      margin: 2em 2em 0 2em;
      width: 80%;
    }

    .contact-info-box {
      width: 80%;
      margin: 0 2em 2em 2em;
    }
  }
}
