@use "../../../../globalStyles/global_styles.scss";

.events-root {
  width: 100%;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  background-color: black;
  background-image: url("../../../../assets/events.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-position-x: 80%;

  .events-container {
    flex: 1;

    margin-top: 2em;
    margin-bottom: 2em;

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .background-box {
      min-height: 25em;
      width: 70%;
      padding: 2em;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      text-align: center;

      background-color: global_styles.$secondary-color-transparent;
      border-bottom: 1px solid black;
      border-right: 1px solid black;
      color: white;

      h1 {
        font-size: 2.5em;
      }

      .events-link {
        min-height: 1000px;
        color: white;
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;

        h2 {
          margin: 0;
          font-size: 1.5em;
        }
      }

      .loading-spinner {
        margin-top: 1em;

        p {
          font-size: 1.5em;
          margin: 0;
        }
      }

      ul {
        list-style-type: none;
        padding: 0;

        .month {
          margin: 1em 0 0 0;
        }

        .event {
          margin: 0.2em 0;
        }
      }
    }
  }

  footer {
    margin-top: auto;
  }

  @media (max-width: 600px) {
    .events-container {
      .background-box {
        width: 90%;

        h1 {
          font-size: 2em;
        }
      }
    }
  }
}
