@import "../../globalStyles/global_styles.scss";

footer {
  box-sizing: border-box;
  width: 100%;
  height: $footer-height;
  padding: 0 2.5em 0 1em;
  position: static;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  // gap: 2em;

  background-color: $primary-color;
  color: white;

  .lcms-box {
    display: flex;
    align-items: center;

    .lcms-logo,
    .lcms-eurasia {
      height: 5em;
      cursor: pointer;
    }
  }

  .main-box {
    margin: auto auto;
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    h3,
    p {
      margin: 0;
    }

    h3 {
      font-size: 1.4em;
      color: $evident-color;
    }

    .footer-title-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      cursor: pointer;

      .footer-logo {
        height: 3em;
      }

      .footer-title {
        display: flex;
        flex-direction: column;
      }
    }

    .copyright {
      color: $stealth-color;
    }
  }

  .right-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 20%;
    min-width: max-content;
    .news-box,
    .login-box {
      height: 100%;
      display: flex;
      align-items: center;

      color: $stealth-color;
      text-decoration: underline;
      p {
        cursor: pointer;
      }
    }

    .facebook-box {
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  @media (max-width: 1000px) {
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    position: static !important;
    .lcms-box {
      .lcms-logo {
        height: 4em;
      }
    }
  }

  @media (max-width: 400px) {
    .main-box {
      h3 {
        font-size: 1em;
      }
      p {
        font-size: 0.8em;
      }
    }
  }
}
